@import './reset.css';
body {
  font-family: "Inter", sans-serif;
}

.button {
  display: flex;
  padding: 0.375rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5rem;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.button i, .button svg {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.button {
  background-color: #99CA45;
  color: #FFFFFF;
  border: none;
}
.button:hover {
  background-color: #80B230;
}
.button:active {
  background-color: #628E22;
}
.button:focus-visible {
  outline: 1px #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}

.button.button-primary {
  background-color: #99CA45;
  color: #FFFFFF;
  border: none;
}
.button.button-primary:hover {
  background-color: #80B230;
}
.button.button-primary:active {
  background-color: #628E22;
}
.button.button-primary:focus-visible {
  outline: 1px #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}

.button.button-secondary {
  background-color: #334155;
  color: #FFFFFF;
  border: none;
}
.button.button-secondary:hover {
  background-color: #1E293B;
}
.button.button-secondary:active {
  background-color: #262626;
}
.button.button-secondary:focus-visible {
  outline: 1px #334155;
  box-shadow: 0px 0px 0px 4px rgba(51, 65, 85, 0.5);
}

.button.button-success {
  background-color: #99CA45;
  color: #FFFFFF;
  border: none;
}
.button.button-success:hover {
  background-color: #80B230;
}
.button.button-success:active {
  background-color: #628E22;
}
.button.button-success:focus-visible {
  outline: 1px #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}

.button.button-warning {
  background-color: #FDA712;
  color: #FFFFFF;
  border: none;
}
.button.button-warning:hover {
  background-color: #F79009;
}
.button.button-warning:active {
  background-color: #C56A09;
}
.button.button-warning:focus-visible {
  outline: 1px #FDA712;
  box-shadow: 0px 0px 0px 4px rgba(253, 167, 18, 0.5);
}

.button.button-danger {
  background-color: #F04438;
  color: #FFFFFF;
  border: none;
}
.button.button-danger:hover {
  background-color: #DE3024;
}
.button.button-danger:active {
  background-color: #BB241A;
}
.button.button-danger:focus-visible {
  outline: 1px #F04438;
  box-shadow: 0px 0px 0px 4px rgba(240, 68, 56, 0.5);
}

.button.button-outline {
  background-color: transparent;
  color: #99CA45;
  border: 1px solid #99CA45;
}
.button.button-outline:hover {
  background-color: #99CA45;
  color: #FFFFFF;
}
.button.button-outline:hover i, .button.button-outline:hover svg {
  color: #FFFFFF;
}
.button.button-outline:active {
  background-color: #628E22;
  color: #FFFFFF;
}
.button.button-outline:focus-visible {
  outline: 1px #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}
.button.button-outline i, .button.button-outline svg {
  color: #99CA45;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.button.button-primary.button-outline {
  background-color: transparent;
  color: #99CA45;
  border: 1px solid #99CA45;
}
.button.button-primary.button-outline:hover {
  background-color: #99CA45;
  color: #FFFFFF;
}
.button.button-primary.button-outline:hover i, .button.button-primary.button-outline:hover svg {
  color: #FFFFFF;
}
.button.button-primary.button-outline:active {
  background-color: #628E22;
  color: #FFFFFF;
}
.button.button-primary.button-outline:focus-visible {
  outline: 1px #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}
.button.button-primary.button-outline i, .button.button-primary.button-outline svg {
  color: #99CA45;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.button.button-secondary.button-outline {
  background-color: transparent;
  color: #334155;
  border: 1px solid #334155;
}
.button.button-secondary.button-outline:hover {
  background-color: #334155;
  color: #FFFFFF;
}
.button.button-secondary.button-outline:hover i, .button.button-secondary.button-outline:hover svg {
  color: #FFFFFF;
}
.button.button-secondary.button-outline:active {
  background-color: #262626;
  color: #FFFFFF;
}
.button.button-secondary.button-outline:focus-visible {
  outline: 1px #334155;
  box-shadow: 0px 0px 0px 4px rgba(51, 65, 85, 0.5);
}
.button.button-secondary.button-outline i, .button.button-secondary.button-outline svg {
  color: #334155;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.button.button-success.button-outline {
  background-color: transparent;
  color: #99CA45;
  border: 1px solid #99CA45;
}
.button.button-success.button-outline:hover {
  background-color: #99CA45;
  color: #FFFFFF;
}
.button.button-success.button-outline:hover i, .button.button-success.button-outline:hover svg {
  color: #FFFFFF;
}
.button.button-success.button-outline:active {
  background-color: #628E22;
  color: #FFFFFF;
}
.button.button-success.button-outline:focus-visible {
  outline: 1px #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}
.button.button-success.button-outline i, .button.button-success.button-outline svg {
  color: #99CA45;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.button.button-warning.button-outline {
  background-color: transparent;
  color: #FDA712;
  border: 1px solid #FDA712;
}
.button.button-warning.button-outline:hover {
  background-color: #FDA712;
  color: #FFFFFF;
}
.button.button-warning.button-outline:hover i, .button.button-warning.button-outline:hover svg {
  color: #FFFFFF;
}
.button.button-warning.button-outline:active {
  background-color: #C56A09;
  color: #FFFFFF;
}
.button.button-warning.button-outline:focus-visible {
  outline: 1px #FDA712;
  box-shadow: 0px 0px 0px 4px rgba(253, 167, 18, 0.5);
}
.button.button-warning.button-outline i, .button.button-warning.button-outline svg {
  color: #FDA712;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.button.button-danger.button-outline {
  background-color: transparent;
  color: #F04438;
  border: 1px solid #F04438;
}
.button.button-danger.button-outline:hover {
  background-color: #F04438;
  color: #FFFFFF;
}
.button.button-danger.button-outline:hover i, .button.button-danger.button-outline:hover svg {
  color: #FFFFFF;
}
.button.button-danger.button-outline:active {
  background-color: #BB241A;
  color: #FFFFFF;
}
.button.button-danger.button-outline:focus-visible {
  outline: 1px #F04438;
  box-shadow: 0px 0px 0px 4px rgba(240, 68, 56, 0.5);
}
.button.button-danger.button-outline i, .button.button-danger.button-outline svg {
  color: #F04438;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.button {
  font-size: 1rem;
  line-height: 1.5rem;
}

.button.button-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.button.button-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

.button.button-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.button-square {
  width: 2.25rem;
  height: 2.25rem;
}

.button-square.button-sm {
  width: 2rem;
  height: 2rem;
}

.button-square.button-md {
  width: 2.25rem;
  height: 2.25rem;
}

.button-square.button-lg {
  width: 2.5rem;
  height: 2.5rem;
}

.button.disabled, .button:disabled {
  background-color: #D6ECAA;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.button.disabled:hover, .button:disabled:hover {
  background-color: #D6ECAA;
  color: #FFFFFF;
}

.button.button-primary.disabled, .button.button-primary:disabled {
  background-color: #D6ECAA;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.button.button-primary.disabled:hover, .button.button-primary:disabled:hover {
  background-color: #D6ECAA;
  color: #FFFFFF;
}

.button.button-secondary.disabled, .button.button-secondary:disabled {
  background-color: #E2E8F0;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.button.button-secondary.disabled:hover, .button.button-secondary:disabled:hover {
  background-color: #E2E8F0;
  color: #FFFFFF;
}

.button.button-success.disabled, .button.button-success:disabled {
  background-color: #D6ECAA;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.button.button-success.disabled:hover, .button.button-success:disabled:hover {
  background-color: #D6ECAA;
  color: #FFFFFF;
}

.button.button-warning.disabled, .button.button-warning:disabled {
  background-color: #FFEBA8;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.button.button-warning.disabled:hover, .button.button-warning:disabled:hover {
  background-color: #FFEBA8;
  color: #FFFFFF;
}

.button.button-danger.disabled, .button.button-danger:disabled {
  background-color: #FFCDC9;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.button.button-danger.disabled:hover, .button.button-danger:disabled:hover {
  background-color: #FFCDC9;
  color: #FFFFFF;
}

.button.button-outline.disabled, .button.button.button-outline:disabled {
  background-color: transparent;
  color: #D6ECAA;
  border: 1px solid #D6ECAA;
  cursor: not-allowed;
  box-shadow: none;
}

.button.button-primary.button-outline.disabled, .button.button-primary.button-outline:disabled {
  background-color: transparent;
  color: #D6ECAA;
  border: 1px solid #D6ECAA;
  cursor: not-allowed;
  box-shadow: none;
}

.button.button-secondary.button-outline.disabled, .button.button-secondary.button-outline:disabled {
  background-color: transparent;
  color: #E2E8F0;
  border: 1px solid #E2E8F0;
  cursor: not-allowed;
  box-shadow: none;
}

.button.button-success.button-outline.disabled, .button.button-success.button-outline:disabled {
  background-color: transparent;
  color: #D6ECAA;
  border: 1px solid #D6ECAA;
  cursor: not-allowed;
  box-shadow: none;
}

.button.button-warning.button-outline.disabled, .button.button-warning.button-outline:disabled {
  background-color: transparent;
  color: #FFEBA8;
  border: 1px solid #FFEBA8;
  cursor: not-allowed;
  box-shadow: none;
}

.button.button-danger.button-outline.disabled, .button.button-danger.button-outline:disabled {
  background-color: transparent;
  color: #FFCDC9;
  border: 1px solid #FFCDC9;
  cursor: not-allowed;
  box-shadow: none;
}

.button-link, .button.button-link {
  background-color: transparent;
  color: #99CA45;
  border: none;
}
.button-link:hover, .button.button-link:hover {
  color: #80B230;
  background-color: transparent;
}
.button-link:active, .button.button-link:active {
  color: #628E22;
}
.button-link:focus, .button.button-link:focus {
  border: none;
  box-shadow: none;
}

.button.button-primary.button-link, .button-primary.button-link {
  background-color: transparent;
  color: #99CA45;
  border: none;
}
.button.button-primary.button-link:hover, .button-primary.button-link:hover {
  color: #80B230;
  background-color: transparent;
}
.button.button-primary.button-link:active, .button-primary.button-link:active {
  color: #628E22;
}
.button.button-primary.button-link:focus, .button-primary.button-link:focus {
  border: none;
  box-shadow: none;
}

.button.button-secondary.button-link, .button-secondary.button-link {
  background-color: transparent;
  color: #334155;
  border: none;
}
.button.button-secondary.button-link:hover, .button-secondary.button-link:hover {
  color: #1E293B;
  background-color: transparent;
}
.button.button-secondary.button-link:active, .button-secondary.button-link:active {
  color: #262626;
}
.button.button-secondary.button-link:focus, .button-secondary.button-link:focus {
  border: none;
  box-shadow: none;
}

.button.button-success.button-link, .button-success.button-link {
  background-color: transparent;
  color: #99CA45;
  border: none;
}
.button.button-success.button-link:hover, .button-success.button-link:hover {
  color: #80B230;
  background-color: transparent;
}
.button.button-success.button-link:active, .button-success.button-link:active {
  color: #628E22;
}
.button.button-success.button-link:focus, .button-success.button-link:focus {
  border: none;
  box-shadow: none;
}

.button.button-warning.button-link, .button-warning.button-link {
  background-color: transparent;
  color: #FDA712;
  border: none;
}
.button.button-warning.button-link:hover, .button-warning.button-link:hover {
  color: #F79009;
  background-color: transparent;
}
.button.button-warning.button-link:active, .button-warning.button-link:active {
  color: #C56A09;
}
.button.button-warning.button-link:focus, .button-warning.button-link:focus {
  border: none;
  box-shadow: none;
}

.button.button-danger.button-link, .button-danger.button-link {
  background-color: transparent;
  color: #F04438;
  border: none;
}
.button.button-danger.button-link:hover, .button-danger.button-link:hover {
  color: #DE3024;
  background-color: transparent;
}
.button.button-danger.button-link:active, .button-danger.button-link:active {
  color: #BB241A;
}
.button.button-danger.button-link:focus, .button-danger.button-link:focus {
  border: none;
  box-shadow: none;
}

input[type=text], input[type=password], textarea {
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  border: 1px solid #E2E8F0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #334155;
  transition: box-shadow 0.3s;
}
input[type=text]::placeholder, input[type=password]::placeholder, textarea::placeholder {
  color: #94A3B8;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  outline: 1px solid #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}

.input-control {
  position: relative;
}
.input-control input[type=password], .input-control .password-input {
  padding-right: 2.225rem;
}
.input-control i, .input-control svg, .input-control img {
  position: absolute;
  color: #334155;
  right: 12px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

input[type=number] {
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  border: 1px solid #E2E8F0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #334155;
  transition: box-shadow 0.3s;
  -moz-appearance: textfield;
}
input[type=number]::placeholder {
  color: #94A3B8;
}
input[type=number]:focus {
  outline: 1px solid #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.label-input {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #334155;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*# sourceMappingURL=styles.css.map */
