@import './reset.css';
body {
  font-family: "Inter", sans-serif;
}

.button {
  display: flex;
  padding: 0.375rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5rem;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.button i, .button svg {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.button {
  background-color: #99CA45;
  color: #FFFFFF;
  border: none;
}
.button:hover {
  background-color: #80B230;
}
.button:active {
  background-color: #628E22;
}
.button:focus {
  outline: 1px #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}

.button.button-primary {
  background-color: #99CA45;
  color: #FFFFFF;
  border: none;
}
.button.button-primary:hover {
  background-color: #80B230;
}
.button.button-primary:active {
  background-color: #628E22;
}
.button.button-primary:focus {
  outline: 1px #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}

.button.button-secondary {
  background-color: #334155;
  color: #FFFFFF;
  border: none;
}
.button.button-secondary:hover {
  background-color: #1E293B;
}
.button.button-secondary:active {
  background-color: #262626;
}
.button.button-secondary:focus {
  outline: 1px #334155;
  box-shadow: 0px 0px 0px 4px rgba(51, 65, 85, 0.5);
}

.button.button-success {
  background-color: #99CA45;
  color: #FFFFFF;
  border: none;
}
.button.button-success:hover {
  background-color: #80B230;
}
.button.button-success:active {
  background-color: #628E22;
}
.button.button-success:focus {
  outline: 1px #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}

.button.button-warning {
  background-color: #FDA712;
  color: #FFFFFF;
  border: none;
}
.button.button-warning:hover {
  background-color: #F79009;
}
.button.button-warning:active {
  background-color: #C56A09;
}
.button.button-warning:focus {
  outline: 1px #FDA712;
  box-shadow: 0px 0px 0px 4px rgba(253, 167, 18, 0.5);
}

.button.button-danger {
  background-color: #F04438;
  color: #FFFFFF;
  border: none;
}
.button.button-danger:hover {
  background-color: #DE3024;
}
.button.button-danger:active {
  background-color: #BB241A;
}
.button.button-danger:focus {
  outline: 1px #F04438;
  box-shadow: 0px 0px 0px 4px rgba(240, 68, 56, 0.5);
}

.button.button-outline {
  background-color: transparent;
  color: #99CA45;
  border: 1px solid #99CA45;
}
.button.button-outline:hover {
  background-color: #99CA45;
  color: #FFFFFF;
}
.button.button-outline:hover i, .button.button-outline:hover svg {
  color: #FFFFFF;
}
.button.button-outline:active {
  background-color: #628E22;
  color: #FFFFFF;
}
.button.button-outline:focus {
  outline: 1px #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}
.button.button-outline i, .button.button-outline svg {
  color: #99CA45;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.button.button-primary.button-outline {
  background-color: transparent;
  color: #99CA45;
  border: 1px solid #99CA45;
}
.button.button-primary.button-outline:hover {
  background-color: #99CA45;
  color: #FFFFFF;
}
.button.button-primary.button-outline:hover i, .button.button-primary.button-outline:hover svg {
  color: #FFFFFF;
}
.button.button-primary.button-outline:active {
  background-color: #628E22;
  color: #FFFFFF;
}
.button.button-primary.button-outline:focus {
  outline: 1px #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}
.button.button-primary.button-outline i, .button.button-primary.button-outline svg {
  color: #99CA45;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.button.button-secondary.button-outline {
  background-color: transparent;
  color: #334155;
  border: 1px solid #334155;
}
.button.button-secondary.button-outline:hover {
  background-color: #334155;
  color: #FFFFFF;
}
.button.button-secondary.button-outline:hover i, .button.button-secondary.button-outline:hover svg {
  color: #FFFFFF;
}
.button.button-secondary.button-outline:active {
  background-color: #262626;
  color: #FFFFFF;
}
.button.button-secondary.button-outline:focus {
  outline: 1px #334155;
  box-shadow: 0px 0px 0px 4px rgba(51, 65, 85, 0.5);
}
.button.button-secondary.button-outline i, .button.button-secondary.button-outline svg {
  color: #334155;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.button.button-success.button-outline {
  background-color: transparent;
  color: #99CA45;
  border: 1px solid #99CA45;
}
.button.button-success.button-outline:hover {
  background-color: #99CA45;
  color: #FFFFFF;
}
.button.button-success.button-outline:hover i, .button.button-success.button-outline:hover svg {
  color: #FFFFFF;
}
.button.button-success.button-outline:active {
  background-color: #628E22;
  color: #FFFFFF;
}
.button.button-success.button-outline:focus {
  outline: 1px #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}
.button.button-success.button-outline i, .button.button-success.button-outline svg {
  color: #99CA45;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.button.button-warning.button-outline {
  background-color: transparent;
  color: #FDA712;
  border: 1px solid #FDA712;
}
.button.button-warning.button-outline:hover {
  background-color: #FDA712;
  color: #FFFFFF;
}
.button.button-warning.button-outline:hover i, .button.button-warning.button-outline:hover svg {
  color: #FFFFFF;
}
.button.button-warning.button-outline:active {
  background-color: #C56A09;
  color: #FFFFFF;
}
.button.button-warning.button-outline:focus {
  outline: 1px #FDA712;
  box-shadow: 0px 0px 0px 4px rgba(253, 167, 18, 0.5);
}
.button.button-warning.button-outline i, .button.button-warning.button-outline svg {
  color: #FDA712;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.button.button-danger.button-outline {
  background-color: transparent;
  color: #F04438;
  border: 1px solid #F04438;
}
.button.button-danger.button-outline:hover {
  background-color: #F04438;
  color: #FFFFFF;
}
.button.button-danger.button-outline:hover i, .button.button-danger.button-outline:hover svg {
  color: #FFFFFF;
}
.button.button-danger.button-outline:active {
  background-color: #BB241A;
  color: #FFFFFF;
}
.button.button-danger.button-outline:focus {
  outline: 1px #F04438;
  box-shadow: 0px 0px 0px 4px rgba(240, 68, 56, 0.5);
}
.button.button-danger.button-outline i, .button.button-danger.button-outline svg {
  color: #F04438;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.button {
  font-size: 1rem;
  line-height: 1.5rem;
}

.button.button-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.button.button-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

.button.button-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.button-square {
  width: 2.25rem;
  height: 2.25rem;
}

.button-square.button-sm {
  width: 2rem;
  height: 2rem;
}

.button-square.button-md {
  width: 2.25rem;
  height: 2.25rem;
}

.button-square.button-lg {
  width: 2.5rem;
  height: 2.5rem;
}

.button.disabled, .button:disabled {
  background-color: #D6ECAA;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.button.disabled:hover, .button:disabled:hover {
  background-color: #D6ECAA;
  color: #FFFFFF;
}

.button.button-primary.disabled, .button.button-primary:disabled {
  background-color: #D6ECAA;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.button.button-primary.disabled:hover, .button.button-primary:disabled:hover {
  background-color: #D6ECAA;
  color: #FFFFFF;
}

.button.button-secondary.disabled, .button.button-secondary:disabled {
  background-color: #E2E8F0;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.button.button-secondary.disabled:hover, .button.button-secondary:disabled:hover {
  background-color: #E2E8F0;
  color: #FFFFFF;
}

.button.button-success.disabled, .button.button-success:disabled {
  background-color: #D6ECAA;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.button.button-success.disabled:hover, .button.button-success:disabled:hover {
  background-color: #D6ECAA;
  color: #FFFFFF;
}

.button.button-warning.disabled, .button.button-warning:disabled {
  background-color: #FFEBA8;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.button.button-warning.disabled:hover, .button.button-warning:disabled:hover {
  background-color: #FFEBA8;
  color: #FFFFFF;
}

.button.button-danger.disabled, .button.button-danger:disabled {
  background-color: #FFCDC9;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.button.button-danger.disabled:hover, .button.button-danger:disabled:hover {
  background-color: #FFCDC9;
  color: #FFFFFF;
}

.button.button-outline.disabled, .button.button.button-outline:disabled {
  background-color: transparent;
  color: #D6ECAA;
  border: 1px solid #D6ECAA;
  cursor: not-allowed;
  box-shadow: none;
}

.button.button-primary.button-outline.disabled, .button.button-primary.button-outline:disabled {
  background-color: transparent;
  color: #D6ECAA;
  border: 1px solid #D6ECAA;
  cursor: not-allowed;
  box-shadow: none;
}

.button.button-secondary.button-outline.disabled, .button.button-secondary.button-outline:disabled {
  background-color: transparent;
  color: #E2E8F0;
  border: 1px solid #E2E8F0;
  cursor: not-allowed;
  box-shadow: none;
}

.button.button-success.button-outline.disabled, .button.button-success.button-outline:disabled {
  background-color: transparent;
  color: #D6ECAA;
  border: 1px solid #D6ECAA;
  cursor: not-allowed;
  box-shadow: none;
}

.button.button-warning.button-outline.disabled, .button.button-warning.button-outline:disabled {
  background-color: transparent;
  color: #FFEBA8;
  border: 1px solid #FFEBA8;
  cursor: not-allowed;
  box-shadow: none;
}

.button.button-danger.button-outline.disabled, .button.button-danger.button-outline:disabled {
  background-color: transparent;
  color: #FFCDC9;
  border: 1px solid #FFCDC9;
  cursor: not-allowed;
  box-shadow: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*# sourceMappingURL=styles.css.map */
