@import '../css/reset.css';
.dfn-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}
.dfn-input-container .dfn-label-input {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #334155;
  margin-bottom: 0.375rem;
}
.dfn-input-container .dfn-input {
  position: relative;
}
.dfn-input-container .dfn-input > .dfn-input-field {
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #334155;
  transition: box-shadow 0.3s;
  max-width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #E2E8F0;
  width: 100%;
  vertical-align: top;
}
.dfn-input-container .dfn-input > .dfn-input-field::placeholder {
  color: #94A3B8;
}
.dfn-input-container .dfn-input > .dfn-input-field:focus {
  border: 1px solid #3A83D8;
  outline: 1px solid #3A83D8;
  box-shadow: 0 0 0 4px rgba(58, 131, 216, 0.5);
}
.dfn-input-container .dfn-input > .dfn-input-field:invalid, .dfn-input-container .dfn-input > .dfn-input-field.invalid {
  border: 1px solid #F04438;
}
.dfn-input-container .dfn-input > .dfn-input-field:invalid:focus, .dfn-input-container .dfn-input > .dfn-input-field.invalid:focus {
  border: 1px solid #F04438;
  outline: 1px solid #F04438;
  box-shadow: 0 0 0 4px rgba(240, 68, 56, 0.5);
}
.dfn-input-container .dfn-input > .dfn-input-field:invalid + .dfn-helper-text, .dfn-input-container .dfn-input > .dfn-input-field.invalid + .dfn-helper-text {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: #F04438;
  margin-top: 0.375rem;
}
.dfn-input-container .dfn-input > .dfn-input-field:disabled, .dfn-input-container .dfn-input > .dfn-input-field.disabled {
  background-color: #F8FAFC;
  color: #94A3B8;
  cursor: not-allowed;
  pointer-events: none;
}
.dfn-input-container .dfn-input > .dfn-input-field:disabled:focus, .dfn-input-container .dfn-input > .dfn-input-field.disabled:focus {
  box-shadow: none;
}
.dfn-input-container .dfn-input > .dfn-input-field:disabled + .dfn-icon, .dfn-input-container .dfn-input > .dfn-input-field.disabled + .dfn-icon {
  color: #94A3B8;
}
.dfn-input-container .dfn-input.icon > .dfn-input-field,
.dfn-input-container .dfn-input.icon input, .dfn-input-container .dfn-input.icon.right > .dfn-input-field,
.dfn-input-container .dfn-input.icon.right input {
  padding-right: 36px;
}
.dfn-input-container .dfn-input.icon .dfn-icon, .dfn-input-container .dfn-input.icon.right .dfn-icon {
  color: #334155;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 1;
  align-items: center;
  right: 12px;
}
.dfn-input-container .dfn-input.icon .dfn-icon.toggle-show-password, .dfn-input-container .dfn-input.icon.right .dfn-icon.toggle-show-password {
  cursor: pointer;
}
.dfn-input-container .dfn-input.icon .dfn-icon.toggle-show-password:hover, .dfn-input-container .dfn-input.icon.right .dfn-icon.toggle-show-password:hover {
  color: #64748B;
}
.dfn-input-container .dfn-input.icon .dfn-icon.toggle-show-password:active, .dfn-input-container .dfn-input.icon.right .dfn-icon.toggle-show-password:active {
  color: #334155;
}
.dfn-input-container .dfn-input.icon.left > .dfn-input-field,
.dfn-input-container .dfn-input.icon.left input {
  padding-left: 36px;
  padding-right: 12px;
}
.dfn-input-container .dfn-input.icon.left .dfn-icon {
  color: #334155;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 1;
  align-items: center;
  left: 12px;
  right: auto;
}
.dfn-input-container .dfn-input > .dfn-textarea,
.dfn-input-container .dfn-input textarea {
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #334155;
  transition: box-shadow 0.3s;
  max-width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #E2E8F0;
  resize: vertical;
  width: 100%;
}
.dfn-input-container .dfn-input > .dfn-textarea::placeholder,
.dfn-input-container .dfn-input textarea::placeholder {
  color: #94A3B8;
}
.dfn-input-container .dfn-input > .dfn-textarea:focus,
.dfn-input-container .dfn-input textarea:focus {
  border: 1px solid #3A83D8;
  outline: 1px solid #3A83D8;
  box-shadow: 0 0 0 4px rgba(58, 131, 216, 0.5);
}

.dfn-helper-text {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: #94A3B8;
  margin-top: 0.375rem;
}
.dfn-helper-text.invalid {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: #F04438;
  margin-top: 0.375rem;
}

.dfn-button {
  display: flex;
  padding: 0.375rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5rem;
  border-radius: 4px;
  height: fit-content;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.dfn-button i,
.dfn-button svg {
  font-size: 1rem;
  line-height: 1rem;
}

i {
  vertical-align: middle;
}

.dfn-button {
  background-color: #3A83D8;
  color: #FFFFFF;
  border: none;
}
.dfn-button:hover {
  background-color: #2E69AD;
}
.dfn-button:active {
  background-color: #295C97;
}
.dfn-button:focus-visible {
  outline: 1px #3A83D8;
  box-shadow: 0px 0px 0px 4px rgba(58, 131, 216, 0.5);
}

.dfn-button.primary {
  background-color: #3A83D8;
  color: #FFFFFF;
  border: none;
}
.dfn-button.primary:hover {
  background-color: #2E69AD;
}
.dfn-button.primary:active {
  background-color: #295C97;
}
.dfn-button.primary:focus-visible {
  outline: 1px #3A83D8;
  box-shadow: 0px 0px 0px 4px rgba(58, 131, 216, 0.5);
}

.dfn-button.secondary {
  background-color: #334155;
  color: #FFFFFF;
  border: none;
}
.dfn-button.secondary:hover {
  background-color: #1E293B;
}
.dfn-button.secondary:active {
  background-color: #262626;
}
.dfn-button.secondary:focus-visible {
  outline: 1px #334155;
  box-shadow: 0px 0px 0px 4px rgba(51, 65, 85, 0.5);
}

.dfn-button.success {
  background-color: #99CA45;
  color: #FFFFFF;
  border: none;
}
.dfn-button.success:hover {
  background-color: #7AA237;
}
.dfn-button.success:active {
  background-color: #5C7929;
}
.dfn-button.success:focus-visible {
  outline: 1px #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}

.dfn-button.warning {
  background-color: #FDA712;
  color: #FFFFFF;
  border: none;
}
.dfn-button.warning:hover {
  background-color: #F79009;
}
.dfn-button.warning:active {
  background-color: #C56A09;
}
.dfn-button.warning:focus-visible {
  outline: 1px #FDA712;
  box-shadow: 0px 0px 0px 4px rgba(253, 167, 18, 0.5);
}

.dfn-button.danger {
  background-color: #F04438;
  color: #FFFFFF;
  border: none;
}
.dfn-button.danger:hover {
  background-color: #DE3024;
}
.dfn-button.danger:active {
  background-color: #BB241A;
}
.dfn-button.danger:focus-visible {
  outline: 1px #F04438;
  box-shadow: 0px 0px 0px 4px rgba(240, 68, 56, 0.5);
}

.dfn-button.outline {
  background-color: transparent;
  color: #3A83D8;
  border: 1px solid #3A83D8;
}
.dfn-button.outline:hover {
  background-color: #2E69AD;
  color: #FFFFFF;
  border: 1px solid #2E69AD;
}
.dfn-button.outline:hover i,
.dfn-button.outline:hover svg {
  color: #FFFFFF;
}
.dfn-button.outline:active {
  background-color: #295C97;
  color: #FFFFFF;
}
.dfn-button.outline:focus-visible {
  outline: 1px #3A83D8;
  box-shadow: 0px 0px 0px 4px rgba(58, 131, 216, 0.5);
}
.dfn-button.outline i,
.dfn-button.outline svg {
  color: #3A83D8;
  font-size: 1rem;
}

.dfn-button.primary.outline {
  background-color: transparent;
  color: #3A83D8;
  border: 1px solid #3A83D8;
}
.dfn-button.primary.outline:hover {
  background-color: #2E69AD;
  color: #FFFFFF;
  border: 1px solid #2E69AD;
}
.dfn-button.primary.outline:hover i,
.dfn-button.primary.outline:hover svg {
  color: #FFFFFF;
}
.dfn-button.primary.outline:active {
  background-color: #295C97;
  color: #FFFFFF;
}
.dfn-button.primary.outline:focus-visible {
  outline: 1px #3A83D8;
  box-shadow: 0px 0px 0px 4px rgba(58, 131, 216, 0.5);
}
.dfn-button.primary.outline i,
.dfn-button.primary.outline svg {
  color: #3A83D8;
  font-size: 1rem;
}

.dfn-button.secondary.outline {
  background-color: transparent;
  color: #334155;
  border: 1px solid #334155;
}
.dfn-button.secondary.outline:hover {
  background-color: #1E293B;
  color: #FFFFFF;
  border: 1px solid #1E293B;
}
.dfn-button.secondary.outline:hover i,
.dfn-button.secondary.outline:hover svg {
  color: #FFFFFF;
}
.dfn-button.secondary.outline:active {
  background-color: #262626;
  color: #FFFFFF;
}
.dfn-button.secondary.outline:focus-visible {
  outline: 1px #334155;
  box-shadow: 0px 0px 0px 4px rgba(51, 65, 85, 0.5);
}
.dfn-button.secondary.outline i,
.dfn-button.secondary.outline svg {
  color: #334155;
  font-size: 1rem;
}

.dfn-button.success.outline {
  background-color: transparent;
  color: #99CA45;
  border: 1px solid #99CA45;
}
.dfn-button.success.outline:hover {
  background-color: #7AA237;
  color: #FFFFFF;
  border: 1px solid #7AA237;
}
.dfn-button.success.outline:hover i,
.dfn-button.success.outline:hover svg {
  color: #FFFFFF;
}
.dfn-button.success.outline:active {
  background-color: #5C7929;
  color: #FFFFFF;
}
.dfn-button.success.outline:focus-visible {
  outline: 1px #99CA45;
  box-shadow: 0px 0px 0px 4px rgba(153, 202, 69, 0.5);
}
.dfn-button.success.outline i,
.dfn-button.success.outline svg {
  color: #99CA45;
  font-size: 1rem;
}

.dfn-button.warning.outline {
  background-color: transparent;
  color: #FDA712;
  border: 1px solid #FDA712;
}
.dfn-button.warning.outline:hover {
  background-color: #F79009;
  color: #FFFFFF;
  border: 1px solid #F79009;
}
.dfn-button.warning.outline:hover i,
.dfn-button.warning.outline:hover svg {
  color: #FFFFFF;
}
.dfn-button.warning.outline:active {
  background-color: #C56A09;
  color: #FFFFFF;
}
.dfn-button.warning.outline:focus-visible {
  outline: 1px #FDA712;
  box-shadow: 0px 0px 0px 4px rgba(253, 167, 18, 0.5);
}
.dfn-button.warning.outline i,
.dfn-button.warning.outline svg {
  color: #FDA712;
  font-size: 1rem;
}

.dfn-button.danger.outline {
  background-color: transparent;
  color: #F04438;
  border: 1px solid #F04438;
}
.dfn-button.danger.outline:hover {
  background-color: #DE3024;
  color: #FFFFFF;
  border: 1px solid #DE3024;
}
.dfn-button.danger.outline:hover i,
.dfn-button.danger.outline:hover svg {
  color: #FFFFFF;
}
.dfn-button.danger.outline:active {
  background-color: #BB241A;
  color: #FFFFFF;
}
.dfn-button.danger.outline:focus-visible {
  outline: 1px #F04438;
  box-shadow: 0px 0px 0px 4px rgba(240, 68, 56, 0.5);
}
.dfn-button.danger.outline i,
.dfn-button.danger.outline svg {
  color: #F04438;
  font-size: 1rem;
}

.dfn-button {
  font-size: 1rem;
  line-height: 1.5rem;
}

.dfn-button.sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.dfn-button.md {
  font-size: 1rem;
  line-height: 1.5rem;
}

.dfn-button.lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.button-square {
  width: 2.25rem;
  height: 2.25rem;
}

.button-square.button-sm {
  width: 2rem;
  height: 2rem;
}

.button-square.button-md {
  width: 2.25rem;
  height: 2.25rem;
}

.button-square.button-lg {
  width: 2.5rem;
  height: 2.5rem;
}

.dfn-button.disabled,
.dfn-button:disabled {
  background-color: #B0CDEF;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
}
.dfn-button.disabled:hover,
.dfn-button:disabled:hover {
  background-color: #B0CDEF;
  color: #FFFFFF;
}

.dfn-button.primary.disabled,
.dfn-button.primary:disabled {
  background-color: #B0CDEF;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.dfn-button.primary.disabled:hover,
.dfn-button.primary:disabled:hover {
  background-color: #B0CDEF;
  color: #FFFFFF;
}

.dfn-button.secondary.disabled,
.dfn-button.secondary:disabled {
  background-color: #E2E8F0;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.dfn-button.secondary.disabled:hover,
.dfn-button.secondary:disabled:hover {
  background-color: #E2E8F0;
  color: #FFFFFF;
}

.dfn-button.success.disabled,
.dfn-button.success:disabled {
  background-color: #CCE5A2;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.dfn-button.success.disabled:hover,
.dfn-button.success:disabled:hover {
  background-color: #CCE5A2;
  color: #FFFFFF;
}

.dfn-button.warning.disabled,
.dfn-button.warning:disabled {
  background-color: #FFEBA8;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.dfn-button.warning.disabled:hover,
.dfn-button.warning:disabled:hover {
  background-color: #FFEBA8;
  color: #FFFFFF;
}

.dfn-button.danger.disabled,
.dfn-button.danger:disabled {
  background-color: #FFCDC9;
  color: #FFFFFF;
  border: none;
  cursor: not-allowed;
  box-shadow: none;
}
.dfn-button.danger.disabled:hover,
.dfn-button.danger:disabled:hover {
  background-color: #FFCDC9;
  color: #FFFFFF;
}

.dfn-button.outline.disabled,
.dfn-button.outline:disabled {
  background-color: transparent;
  color: #B0CDEF;
  border: 1px solid #B0CDEF;
  cursor: not-allowed;
  box-shadow: none;
}
.dfn-button.outline.disabled > i,
.dfn-button.outline.disabled svg,
.dfn-button.outline:disabled > i,
.dfn-button.outline:disabled svg {
  color: #B0CDEF;
}

.dfn-button.primary.outline.disabled,
.dfn-button.primary.outline:disabled {
  background-color: transparent;
  color: #B0CDEF;
  border: 1px solid #B0CDEF;
  cursor: not-allowed;
  box-shadow: none;
}

.dfn-button.secondary.outline.disabled,
.dfn-button.secondary.outline:disabled {
  background-color: transparent;
  color: #E2E8F0;
  border: 1px solid #E2E8F0;
  cursor: not-allowed;
  box-shadow: none;
}

.dfn-button.success.outline.disabled,
.dfn-button.success.outline:disabled {
  background-color: transparent;
  color: #CCE5A2;
  border: 1px solid #CCE5A2;
  cursor: not-allowed;
  box-shadow: none;
}

.dfn-button.warning.outline.disabled,
.dfn-button.warning.outline:disabled {
  background-color: transparent;
  color: #FFEBA8;
  border: 1px solid #FFEBA8;
  cursor: not-allowed;
  box-shadow: none;
}

.dfn-button.danger.outline.disabled,
.dfn-button.danger.outline:disabled {
  background-color: transparent;
  color: #FFCDC9;
  border: 1px solid #FFCDC9;
  cursor: not-allowed;
  box-shadow: none;
}

.button-link,
.dfn-button.button-link {
  background-color: transparent;
  color: #3A83D8;
  border: none;
}
.button-link:hover,
.dfn-button.button-link:hover {
  color: #2E69AD;
  background-color: transparent;
}
.button-link:active,
.dfn-button.button-link:active {
  color: #295C97;
}
.button-link:focus,
.dfn-button.button-link:focus {
  border: none;
  box-shadow: none;
}

.dfn-button.primary.button-link,
.primary.button-link {
  background-color: transparent;
  color: #3A83D8;
  border: none;
}
.dfn-button.primary.button-link:hover,
.primary.button-link:hover {
  color: #2E69AD;
  background-color: transparent;
}
.dfn-button.primary.button-link:active,
.primary.button-link:active {
  color: #295C97;
}
.dfn-button.primary.button-link:focus,
.primary.button-link:focus {
  border: none;
  box-shadow: none;
}

.dfn-button.secondary.button-link,
.secondary.button-link {
  background-color: transparent;
  color: #334155;
  border: none;
}
.dfn-button.secondary.button-link:hover,
.secondary.button-link:hover {
  color: #1E293B;
  background-color: transparent;
}
.dfn-button.secondary.button-link:active,
.secondary.button-link:active {
  color: #262626;
}
.dfn-button.secondary.button-link:focus,
.secondary.button-link:focus {
  border: none;
  box-shadow: none;
}

.dfn-button.success.button-link,
.success.button-link {
  background-color: transparent;
  color: #99CA45;
  border: none;
}
.dfn-button.success.button-link:hover,
.success.button-link:hover {
  color: #7AA237;
  background-color: transparent;
}
.dfn-button.success.button-link:active,
.success.button-link:active {
  color: #5C7929;
}
.dfn-button.success.button-link:focus,
.success.button-link:focus {
  border: none;
  box-shadow: none;
}

.dfn-button.warning.button-link,
.warning.button-link {
  background-color: transparent;
  color: #FDA712;
  border: none;
}
.dfn-button.warning.button-link:hover,
.warning.button-link:hover {
  color: #F79009;
  background-color: transparent;
}
.dfn-button.warning.button-link:active,
.warning.button-link:active {
  color: #C56A09;
}
.dfn-button.warning.button-link:focus,
.warning.button-link:focus {
  border: none;
  box-shadow: none;
}

.dfn-button.danger.button-link,
.danger.button-link {
  background-color: transparent;
  color: #F04438;
  border: none;
}
.dfn-button.danger.button-link:hover,
.danger.button-link:hover {
  color: #DE3024;
  background-color: transparent;
}
.dfn-button.danger.button-link:active,
.danger.button-link:active {
  color: #BB241A;
}
.dfn-button.danger.button-link:focus,
.danger.button-link:focus {
  border: none;
  box-shadow: none;
}

a,
a .link {
  color: #3A83D8;
}
a:hover,
a .link:hover {
  color: #2E69AD;
  cursor: pointer;
}
a:active,
a .link:active {
  color: #295C97;
}

.dfn-radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.dfn-radio input[type=radio] + .dfn-radio-label {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #334155;
}
.dfn-radio input[type=radio] + .dfn-radio-label::before {
  content: "";
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 9999px;
  border: 1px solid #E2E8F0;
  display: inline-flex;
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  margin-right: 0.5rem;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}
.dfn-radio input[type=radio] + .dfn-radio-label::after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background-color: transparent;
  position: absolute;
  left: 0.25rem;
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}
.dfn-radio input[type=radio]:checked + .dfn-radio-label::before {
  background-color: #FFFFFF;
  border: 1px solid #3A83D8;
}
.dfn-radio input[type=radio]:checked + .dfn-radio-label::after {
  background-color: #3A83D8;
}
.dfn-radio input[type=radio]:focus + .dfn-radio-label::before {
  border: 1px solid #3A83D8;
  outline: 1px solid #3A83D8;
  box-shadow: 0 0 0 4px rgba(58, 131, 216, 0.5);
}
.dfn-radio input[type=radio]:checked:disabled + .dfn-radio-label::before {
  border-color: #CBD5E1;
  background: #F1F5F9;
}
.dfn-radio input[type=radio]:checked:disabled + .dfn-radio-label::after {
  background-color: #CBD5E1;
}
.dfn-radio input[type=radio]:disabled + .dfn-radio-label::before {
  border-color: #CBD5E1;
  background: #F1F5F9;
}

.dfn-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.dfn-checkbox input[type=checkbox] + .dfn-checkbox-label {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #334155;
}
.dfn-checkbox input[type=checkbox] + .dfn-checkbox-label::before {
  content: "";
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #E2E8F0;
  display: inline-flex;
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  margin-right: 0.5rem;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: box-shadow 0.3s ease;
}
.dfn-checkbox input[type=checkbox]:checked + .dfn-checkbox-label::before {
  content: "\f272";
  font-family: "bootstrap-icons";
  align-items: center;
  font-size: 1rem;
  justify-content: center;
  color: #FFFFFF;
  background-color: #3A83D8;
  border: 1px solid #3A83D8;
}
.dfn-checkbox input[type=checkbox]:focus + .dfn-checkbox-label::before {
  border: 1px solid #3A83D8;
  outline: 1px solid #3A83D8;
  box-shadow: 0 0 0 4px rgba(58, 131, 216, 0.5);
}
.dfn-checkbox input[type=checkbox]:checked:disabled + .dfn-checkbox-label::before {
  font-family: "bootstrap-icons";
  align-items: center;
  font-size: 16px;
  justify-content: center;
  color: #CBD5E1;
  border-color: #CBD5E1;
  background: #F1F5F9;
}
.dfn-checkbox input[type=checkbox]:disabled + .dfn-checkbox-label::before {
  border-color: #CBD5E1;
  background: #F1F5F9;
}

.dfn-toggle input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.dfn-toggle input[type=checkbox] + .dfn-toggle-label {
  position: relative;
  display: flex;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #334155;
  align-items: center;
}
.dfn-toggle input[type=checkbox] + .dfn-toggle-label::before {
  content: "";
  width: 2.25rem;
  height: 1.25rem;
  background-color: #F1F5F9;
  border-radius: 9999px;
  margin-right: 0.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.dfn-toggle input[type=checkbox] + .dfn-toggle-label::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #FFFFFF;
  border-radius: 9999px;
  left: 0.125rem;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.dfn-toggle input[type=checkbox]:checked + .dfn-toggle-label::before {
  background-color: #3A83D8;
}
.dfn-toggle input[type=checkbox]:checked + .dfn-toggle-label::after {
  transform: translateX(100%);
}
.dfn-toggle input[type=checkbox]:focus + .dfn-toggle-label::before {
  border: 1px solid #3A83D8;
  outline: 1px solid #3A83D8;
  box-shadow: 0 0 0 4px rgba(58, 131, 216, 0.5);
}
.dfn-toggle input[type=checkbox]:disabled + .dfn-toggle-label::after {
  background-color: #CBD5E1;
  cursor: default;
}
.dfn-toggle input[type=checkbox]:checked:disabled + .dfn-toggle-label::after {
  background-color: #CBD5E1;
  cursor: default;
}
.dfn-toggle input[type=checkbox]:disabled + .dfn-toggle-label::before {
  cursor: default;
}
.dfn-toggle input[type=checkbox]:checked:disabled + .dfn-toggle-label::before {
  cursor: default;
  background-color: #F1F5F9;
}

.select-input-container {
  display: inline-block;
  position: relative;
  width: 100%;
}
.select-input-container:focus-within > .select-input-value {
  border: 1px solid #3A83D8;
  outline: 1px solid #3A83D8;
  box-shadow: 0 0 0 4px rgba(58, 131, 216, 0.5);
}
.select-input-container:focus-visible > .select-input-value {
  outline: none;
  border: none;
}
.select-input-container.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
.select-input-container.disabled:focus {
  box-shadow: none;
}
.select-input-container.disabled > .select-input-value {
  background-color: #F8FAFC;
  color: #94A3B8;
}

.select-input-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #334155;
  transition: box-shadow 0.3s;
  max-width: 100%;
  background-color: #FFFFFF;
  padding-right: 32px;
  border: 1px solid #CBD5E1;
  cursor: pointer;
  user-select: none;
}
.select-input-value::placeholder {
  color: #94A3B8;
}
.select-input-value.custom-placeholder {
  color: #94A3B8;
}
.select-input-value::after {
  content: "\f282";
  font-family: "bootstrap-icons";
  right: 8px;
  position: absolute;
  align-items: center;
  font-size: 0.75rem;
  color: #262626;
}
.select-input-value:focus-visible {
  outline: none;
  border: none;
}

.select-input-options {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  border: 1px solid #F1F5F9;
  border-radius: 4px;
  width: 100%;
  max-height: 20rem;
  overflow-y: auto;
  margin: 0.5rem 0px;
  z-index: 1;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.select-input-options:focus-visible {
  outline: none;
  border: none;
}

.select-input-options.show {
  display: block;
}

.select-input-option {
  background-color: #FFFFFF;
  position: relative;
  padding: 0.375rem 0.75rem;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #334155;
  cursor: pointer;
}
.select-input-option.selected::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 4px;
  background-color: #3A83D8;
}
.select-input-option.disabled {
  color: #94A3B8;
  cursor: not-allowed;
  pointer-events: none;
}
.select-input-option.hover {
  background-color: #F1F5F9;
}
.select-input-option.focus {
  background-color: #E2E8F0;
}

.select-input-option:hover {
  background-color: #F1F5F9;
}

.multiple-select-container {
  display: inline-block;
  position: relative;
  width: 100%;
}
.multiple-select-container:focus-within > .multiple-select-value {
  border: 1px solid #3A83D8;
  outline: 1px solid #3A83D8;
  box-shadow: 0 0 0 4px rgba(58, 131, 216, 0.5);
}
.multiple-select-container:focus-visible > .multiple-select-value {
  outline: none;
  border: none;
}
.multiple-select-container.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
.multiple-select-container.disabled:focus {
  box-shadow: none;
}
.multiple-select-container.disabled > .multiple-select-value {
  background-color: #F8FAFC;
  color: #94A3B8;
}

.multiple-select-value > .custom-placeholder {
  color: #94A3B8;
}

.multiple-select-value {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #334155;
  transition: box-shadow 0.3s;
  max-width: 100%;
  background-color: #FFFFFF;
  padding-right: 32px;
  border: 1px solid #CBD5E1;
  cursor: pointer;
  user-select: none;
  position: relative;
  gap: 8px;
  flex-wrap: wrap;
}
.multiple-select-value::placeholder {
  color: #94A3B8;
}
.multiple-select-value::after {
  content: "\f282";
  font-family: "bootstrap-icons";
  right: 8px;
  position: absolute;
  align-items: center;
  font-size: 0.75rem;
  color: #262626;
}
.multiple-select-value:focus-visible {
  outline: none;
  border: none;
}

.option-selected {
  box-sizing: border-box;
  display: flex;
  padding: 2px 4px;
  align-items: center;
  gap: 8px;
  border-radius: 2px;
  border: 1px solid #E2E8F0;
  background: #F8FAFC;
  color: #334155;
  font-size: 0.75rem;
  line-height: 1rem;
  max-height: 20px;
}
.option-selectedi {
  font-size: 10px;
}
.option-selected:hover {
  background-color: #F1F5F9;
  color: #334155;
}

.multiple-select-options {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  border: 1px solid #F1F5F9;
  border-radius: 4px;
  width: 100%;
  max-height: 20rem;
  overflow-y: auto;
  margin: 0.5rem 0px;
  z-index: 1;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.multiple-select-options:focus-visible {
  outline: none;
  border: none;
}

.multiple-select-options.show {
  display: block;
}

.multiple-select-option {
  background-color: #FFFFFF;
  position: relative;
  padding: 0.375rem 0.75rem;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #334155;
  cursor: pointer;
}
.multiple-select-option.selected::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 4px;
  background-color: #3A83D8;
}
.multiple-select-option.disabled {
  color: #94A3B8;
  cursor: not-allowed;
  pointer-events: none;
}
.multiple-select-option.focus {
  background-color: #E2E8F0;
}

.multiple-select-option:hover {
  background-color: #F1F5F9;
}

.datepicker {
  position: relative;
  display: flex;
}

.datepicker::after {
  content: "\f282";
  font-family: "bootstrap-icons";
  right: 8px;
  position: absolute;
  align-items: center;
  font-size: 0.75rem;
  color: #262626;
}

.datepicker-container {
  position: absolute;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: none;
  border: 1px solid #F1F5F9;
  margin-top: 0.375rem;
  z-index: 1;
}

.datepicker-container.show {
  display: block;
}

.datepicker-day-content.show {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0px 1rem 1rem 1rem;
}

.datepicker-month-content {
  display: none;
}

.datepicker-month-content.show {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem 0.25rem;
  min-width: 17.5rem;
  padding: 0px 1rem 1rem 1rem;
}

.datepicker-year-content {
  display: none;
}

.datepicker-year-content.show {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem 0.25rem;
  min-width: 17.5rem;
  max-height: 17.5rem;
  overflow-y: auto;
  padding: 0px 1rem 1rem 1rem;
}

.datepicker-month-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #334155;
  cursor: pointer;
  border-radius: 9999px;
}
.datepicker-month-item:hover {
  background-color: #F1F5F9;
}
.datepicker-month-item.selected {
  background-color: #3A83D8;
  color: #FFFFFF;
}

.datepicker-year-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #334155;
  cursor: pointer;
  border-radius: 9999px;
}
.datepicker-year-item:hover {
  background-color: #F1F5F9;
}
.datepicker-year-item.selected {
  background-color: #3A83D8;
  color: #FFFFFF;
}

.datepicker-day-content {
  display: none;
}

.day-name {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #334155;
}

.datepicker-day-item {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #334155;
  border-radius: 9999px;
  cursor: pointer;
}
.datepicker-day-item.date-disabled {
  color: #94A3B8;
}
.datepicker-day-item.date-disabled:hover {
  background-color: none;
  cursor: default;
}
.datepicker-day-item:hover {
  background-color: #F1F5F9;
}
.datepicker-day-item.selected {
  background-color: #3A83D8;
  color: #FFFFFF;
}

.datepicker-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  padding: 1rem 1rem 0.5rem 1rem;
}

.current-date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.current-date {
  color: #3A83D8;
}

.current-month-label,
.current-year-label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #334155;
  padding: 0.125rem;
  border-radius: 4px;
  cursor: pointer;
}
.current-month-label:hover,
.current-year-label:hover {
  background-color: #F1F5F9;
}

.datepicker-button {
  display: none;
}

.datepicker-button.show {
  display: flex;
  color: #334155;
  background-color: transparent;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
}
.datepicker-button.show:hover {
  background-color: #F1F5F9;
}

.dfn-input-file {
  display: none;
}

.dfn-upload-button {
  display: flex;
  padding: 0.375rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5rem;
  border-radius: 4px;
  height: fit-content;
  background-color: #3A83D8;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  transition: background-color 0.3s, box-shadow 0.3s;
  border: none;
}
.dfn-upload-button i,
.dfn-upload-button svg {
  font-size: 1rem;
}

.list-files {
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.list-files > .file {
  display: flex;
  flex-direction: row;
  padding: 8px 12px;
  background-color: #F8FAFC;
  border-radius: 4px;
  align-items: center;
  gap: 8px;
}
.list-files > .file > .file-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.list-files > .file > .file-info-container > .file-name {
  color: #334155;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}
.list-files > .file > .file-info-container > .file-size {
  color: #64748B;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
}

.percentage-display {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #3A83D8;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.dfn-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.dfn-container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .dfn-container-sm {
    max-width: 576px;
  }
}

.dfn-container-md {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .dfn-container-md {
    max-width: 768px;
  }
}

.dfn-container-lg {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  .dfn-container-lg {
    max-width: 992px;
  }
}

.dfn-container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .dfn-container-xl {
    max-width: 1200px;
  }
}

.dfn-container-2xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1400px) {
  .dfn-container-2xl {
    max-width: 1400px;
  }
}

.m-0 {
  margin: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mr-0 {
  margin-right: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.m-0_5 {
  margin: 0.125rem;
}

.mt-0_5 {
  margin-top: 0.125rem;
}

.mb-0_5 {
  margin-bottom: 0.125rem;
}

.mr-0_5 {
  margin-right: 0.125rem;
}

.ml-0_5 {
  margin-left: 0.125rem;
}

.mx-0_5 {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

.my-0_5 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-1_5 {
  margin: 0.375rem;
}

.mt-1_5 {
  margin-top: 0.375rem;
}

.mb-1_5 {
  margin-bottom: 0.375rem;
}

.mr-1_5 {
  margin-right: 0.375rem;
}

.ml-1_5 {
  margin-left: 0.375rem;
}

.mx-1_5 {
  margin-left: 0.375rem;
  margin-right: 0.375rem;
}

.my-1_5 {
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-2_5 {
  margin: 0.625rem;
}

.mt-2_5 {
  margin-top: 0.625rem;
}

.mb-2_5 {
  margin-bottom: 0.625rem;
}

.mr-2_5 {
  margin-right: 0.625rem;
}

.ml-2_5 {
  margin-left: 0.625rem;
}

.mx-2_5 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.my-2_5 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m-3_5 {
  margin: 0.875rem;
}

.mt-3_5 {
  margin-top: 0.875rem;
}

.mb-3_5 {
  margin-bottom: 0.875rem;
}

.mr-3_5 {
  margin-right: 0.875rem;
}

.ml-3_5 {
  margin-left: 0.875rem;
}

.mx-3_5 {
  margin-left: 0.875rem;
  margin-right: 0.875rem;
}

.my-3_5 {
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-9 {
  margin: 2.225rem;
}

.mt-9 {
  margin-top: 2.225rem;
}

.mb-9 {
  margin-bottom: 2.225rem;
}

.mr-9 {
  margin-right: 2.225rem;
}

.ml-9 {
  margin-left: 2.225rem;
}

.mx-9 {
  margin-left: 2.225rem;
  margin-right: 2.225rem;
}

.my-9 {
  margin-top: 2.225rem;
  margin-bottom: 2.225rem;
}

.m-10 {
  margin: 2.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.m-11 {
  margin: 2.75rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}

.mr-11 {
  margin-right: 2.75rem;
}

.ml-11 {
  margin-left: 2.75rem;
}

.mx-11 {
  margin-left: 2.75rem;
  margin-right: 2.75rem;
}

.my-11 {
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}

.m-12 {
  margin: 3rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mr-12 {
  margin-right: 3rem;
}

.ml-12 {
  margin-left: 3rem;
}

.mx-12 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-14 {
  margin: 3.5rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mr-14 {
  margin-right: 3.5rem;
}

.ml-14 {
  margin-left: 3.5rem;
}

.mx-14 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.my-14 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.m-16 {
  margin: 4rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mr-16 {
  margin-right: 4rem;
}

.ml-16 {
  margin-left: 4rem;
}

.mx-16 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.m-20 {
  margin: 5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mr-20 {
  margin-right: 5rem;
}

.ml-20 {
  margin-left: 5rem;
}

.mx-20 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.m-24 {
  margin: 6rem;
}

.mt-24 {
  margin-top: 6rem;
}

.mb-24 {
  margin-bottom: 6rem;
}

.mr-24 {
  margin-right: 6rem;
}

.ml-24 {
  margin-left: 6rem;
}

.mx-24 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.my-24 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.m-32 {
  margin: 8rem;
}

.mt-32 {
  margin-top: 8rem;
}

.mb-32 {
  margin-bottom: 8rem;
}

.mr-32 {
  margin-right: 8rem;
}

.ml-32 {
  margin-left: 8rem;
}

.mx-32 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.my-32 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.m-40 {
  margin: 10rem;
}

.mt-40 {
  margin-top: 10rem;
}

.mb-40 {
  margin-bottom: 10rem;
}

.mr-40 {
  margin-right: 10rem;
}

.ml-40 {
  margin-left: 10rem;
}

.mx-40 {
  margin-left: 10rem;
  margin-right: 10rem;
}

.my-40 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.m-48 {
  margin: 12rem;
}

.mt-48 {
  margin-top: 12rem;
}

.mb-48 {
  margin-bottom: 12rem;
}

.mr-48 {
  margin-right: 12rem;
}

.ml-48 {
  margin-left: 12rem;
}

.mx-48 {
  margin-left: 12rem;
  margin-right: 12rem;
}

.my-48 {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.m-56 {
  margin: 14rem;
}

.mt-56 {
  margin-top: 14rem;
}

.mb-56 {
  margin-bottom: 14rem;
}

.mr-56 {
  margin-right: 14rem;
}

.ml-56 {
  margin-left: 14rem;
}

.mx-56 {
  margin-left: 14rem;
  margin-right: 14rem;
}

.my-56 {
  margin-top: 14rem;
  margin-bottom: 14rem;
}

.m-60 {
  margin: 16rem;
}

.mt-60 {
  margin-top: 16rem;
}

.mb-60 {
  margin-bottom: 16rem;
}

.mr-60 {
  margin-right: 16rem;
}

.ml-60 {
  margin-left: 16rem;
}

.mx-60 {
  margin-left: 16rem;
  margin-right: 16rem;
}

.my-60 {
  margin-top: 16rem;
  margin-bottom: 16rem;
}

.p-0 {
  padding: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.p-0_5 {
  padding: 0.125rem;
}

.pt-0_5 {
  padding-top: 0.125rem;
}

.pb-0_5 {
  padding-bottom: 0.125rem;
}

.pr-0_5 {
  padding-right: 0.125rem;
}

.pl-0_5 {
  padding-left: 0.125rem;
}

.px-0_5 {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

.py-0_5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-1_5 {
  padding: 0.375rem;
}

.pt-1_5 {
  padding-top: 0.375rem;
}

.pb-1_5 {
  padding-bottom: 0.375rem;
}

.pr-1_5 {
  padding-right: 0.375rem;
}

.pl-1_5 {
  padding-left: 0.375rem;
}

.px-1_5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.py-1_5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-2_5 {
  padding: 0.625rem;
}

.pt-2_5 {
  padding-top: 0.625rem;
}

.pb-2_5 {
  padding-bottom: 0.625rem;
}

.pr-2_5 {
  padding-right: 0.625rem;
}

.pl-2_5 {
  padding-left: 0.625rem;
}

.px-2_5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.py-2_5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.p-3 {
  padding: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-3_5 {
  padding: 0.875rem;
}

.pt-3_5 {
  padding-top: 0.875rem;
}

.pb-3_5 {
  padding-bottom: 0.875rem;
}

.pr-3_5 {
  padding-right: 0.875rem;
}

.pl-3_5 {
  padding-left: 0.875rem;
}

.px-3_5 {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.py-3_5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-9 {
  padding: 2.225rem;
}

.pt-9 {
  padding-top: 2.225rem;
}

.pb-9 {
  padding-bottom: 2.225rem;
}

.pr-9 {
  padding-right: 2.225rem;
}

.pl-9 {
  padding-left: 2.225rem;
}

.px-9 {
  padding-left: 2.225rem;
  padding-right: 2.225rem;
}

.py-9 {
  padding-top: 2.225rem;
  padding-bottom: 2.225rem;
}

.p-10 {
  padding: 2.5rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p-11 {
  padding: 2.75rem;
}

.pt-11 {
  padding-top: 2.75rem;
}

.pb-11 {
  padding-bottom: 2.75rem;
}

.pr-11 {
  padding-right: 2.75rem;
}

.pl-11 {
  padding-left: 2.75rem;
}

.px-11 {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}

.py-11 {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

.p-12 {
  padding: 3rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pr-12 {
  padding-right: 3rem;
}

.pl-12 {
  padding-left: 3rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p-14 {
  padding: 3.5rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pb-14 {
  padding-bottom: 3.5rem;
}

.pr-14 {
  padding-right: 3.5rem;
}

.pl-14 {
  padding-left: 3.5rem;
}

.px-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.p-16 {
  padding: 4rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pr-16 {
  padding-right: 4rem;
}

.pl-16 {
  padding-left: 4rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.p-20 {
  padding: 5rem;
}

.pt-20 {
  padding-top: 5rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.pr-20 {
  padding-right: 5rem;
}

.pl-20 {
  padding-left: 5rem;
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.p-24 {
  padding: 6rem;
}

.pt-24 {
  padding-top: 6rem;
}

.pb-24 {
  padding-bottom: 6rem;
}

.pr-24 {
  padding-right: 6rem;
}

.pl-24 {
  padding-left: 6rem;
}

.px-24 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.p-32 {
  padding: 8rem;
}

.pt-32 {
  padding-top: 8rem;
}

.pb-32 {
  padding-bottom: 8rem;
}

.pr-32 {
  padding-right: 8rem;
}

.pl-32 {
  padding-left: 8rem;
}

.px-32 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.py-32 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.p-40 {
  padding: 10rem;
}

.pt-40 {
  padding-top: 10rem;
}

.pb-40 {
  padding-bottom: 10rem;
}

.pr-40 {
  padding-right: 10rem;
}

.pl-40 {
  padding-left: 10rem;
}

.px-40 {
  padding-left: 10rem;
  padding-right: 10rem;
}

.py-40 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.p-48 {
  padding: 12rem;
}

.pt-48 {
  padding-top: 12rem;
}

.pb-48 {
  padding-bottom: 12rem;
}

.pr-48 {
  padding-right: 12rem;
}

.pl-48 {
  padding-left: 12rem;
}

.px-48 {
  padding-left: 12rem;
  padding-right: 12rem;
}

.py-48 {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.p-56 {
  padding: 14rem;
}

.pt-56 {
  padding-top: 14rem;
}

.pb-56 {
  padding-bottom: 14rem;
}

.pr-56 {
  padding-right: 14rem;
}

.pl-56 {
  padding-left: 14rem;
}

.px-56 {
  padding-left: 14rem;
  padding-right: 14rem;
}

.py-56 {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.p-60 {
  padding: 16rem;
}

.pt-60 {
  padding-top: 16rem;
}

.pb-60 {
  padding-bottom: 16rem;
}

.pr-60 {
  padding-right: 16rem;
}

.pl-60 {
  padding-left: 16rem;
}

.px-60 {
  padding-left: 16rem;
  padding-right: 16rem;
}

.py-60 {
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.gap-0 {
  gap: 0px;
}

.gap-0_5 {
  gap: 0.125rem;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-1_5 {
  gap: 0.375rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-2_5 {
  gap: 0.625rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-3_5 {
  gap: 0.875rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-9 {
  gap: 2.225rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-11 {
  gap: 2.75rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-14 {
  gap: 3.5rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-24 {
  gap: 6rem;
}

.gap-32 {
  gap: 8rem;
}

.gap-40 {
  gap: 10rem;
}

.gap-48 {
  gap: 12rem;
}

.gap-56 {
  gap: 14rem;
}

.gap-60 {
  gap: 16rem;
}

.dfn-check-container,
.dfn-check-container.vertical {
  display: flex;
  flex-direction: column;
}
.dfn-check-container > *,
.dfn-check-container.vertical > * {
  margin-bottom: 0.5rem;
}
.dfn-check-container.horizontal,
.dfn-check-container.vertical.horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}
.dfn-check-container.horizontal > *,
.dfn-check-container.vertical.horizontal > * {
  margin-right: 1rem;
}

.gap-0 {
  gap: 0px;
}

.gap-0_5 {
  gap: 0.125rem;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-1_5 {
  gap: 0.375rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-2_5 {
  gap: 0.625rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-3_5 {
  gap: 0.875rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-9 {
  gap: 2.225rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-11 {
  gap: 2.75rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-14 {
  gap: 3.5rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-24 {
  gap: 6rem;
}

.gap-32 {
  gap: 8rem;
}

.gap-40 {
  gap: 10rem;
}

.gap-48 {
  gap: 12rem;
}

.gap-56 {
  gap: 14rem;
}

.gap-60 {
  gap: 16rem;
}

.gutter-0.dfn-row {
  margin-right: 0px;
  margin-left: 0px;
}
.gutter-0.dfn-row > * {
  padding-right: 0px;
  padding-left: 0px;
}

.gutter-0_5.dfn-row {
  margin-right: -0.0625rem;
  margin-left: -0.0625rem;
}
.gutter-0_5.dfn-row > * {
  padding-right: 0.0625rem;
  padding-left: 0.0625rem;
}

.gutter-1.dfn-row {
  margin-right: -0.125rem;
  margin-left: -0.125rem;
}
.gutter-1.dfn-row > * {
  padding-right: 0.125rem;
  padding-left: 0.125rem;
}

.gutter-1_5.dfn-row {
  margin-right: -0.1875rem;
  margin-left: -0.1875rem;
}
.gutter-1_5.dfn-row > * {
  padding-right: 0.1875rem;
  padding-left: 0.1875rem;
}

.gutter-2.dfn-row {
  margin-right: -0.25rem;
  margin-left: -0.25rem;
}
.gutter-2.dfn-row > * {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.gutter-2_5.dfn-row {
  margin-right: -0.3125rem;
  margin-left: -0.3125rem;
}
.gutter-2_5.dfn-row > * {
  padding-right: 0.3125rem;
  padding-left: 0.3125rem;
}

.gutter-3.dfn-row {
  margin-right: -0.375rem;
  margin-left: -0.375rem;
}
.gutter-3.dfn-row > * {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.gutter-3_5.dfn-row {
  margin-right: -0.4375rem;
  margin-left: -0.4375rem;
}
.gutter-3_5.dfn-row > * {
  padding-right: 0.4375rem;
  padding-left: 0.4375rem;
}

.gutter-4.dfn-row {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.gutter-4.dfn-row > * {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.gutter-5.dfn-row {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}
.gutter-5.dfn-row > * {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.gutter-6.dfn-row {
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
.gutter-6.dfn-row > * {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.gutter-7.dfn-row {
  margin-right: -0.875rem;
  margin-left: -0.875rem;
}
.gutter-7.dfn-row > * {
  padding-right: 0.875rem;
  padding-left: 0.875rem;
}

.gutter-8.dfn-row {
  margin-right: -1rem;
  margin-left: -1rem;
}
.gutter-8.dfn-row > * {
  padding-right: 1rem;
  padding-left: 1rem;
}

.gutter-9.dfn-row {
  margin-right: -1.1125rem;
  margin-left: -1.1125rem;
}
.gutter-9.dfn-row > * {
  padding-right: 1.1125rem;
  padding-left: 1.1125rem;
}

.gutter-10.dfn-row {
  margin-right: -1.25rem;
  margin-left: -1.25rem;
}
.gutter-10.dfn-row > * {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.gutter-11.dfn-row {
  margin-right: -1.375rem;
  margin-left: -1.375rem;
}
.gutter-11.dfn-row > * {
  padding-right: 1.375rem;
  padding-left: 1.375rem;
}

.gutter-12.dfn-row {
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}
.gutter-12.dfn-row > * {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.gutter-14.dfn-row {
  margin-right: -1.75rem;
  margin-left: -1.75rem;
}
.gutter-14.dfn-row > * {
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

.gutter-16.dfn-row {
  margin-right: -2rem;
  margin-left: -2rem;
}
.gutter-16.dfn-row > * {
  padding-right: 2rem;
  padding-left: 2rem;
}

.gutter-20.dfn-row {
  margin-right: -2.5rem;
  margin-left: -2.5rem;
}
.gutter-20.dfn-row > * {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.gutter-24.dfn-row {
  margin-right: -3rem;
  margin-left: -3rem;
}
.gutter-24.dfn-row > * {
  padding-right: 3rem;
  padding-left: 3rem;
}

.gutter-32.dfn-row {
  margin-right: -4rem;
  margin-left: -4rem;
}
.gutter-32.dfn-row > * {
  padding-right: 4rem;
  padding-left: 4rem;
}

.gutter-40.dfn-row {
  margin-right: -5rem;
  margin-left: -5rem;
}
.gutter-40.dfn-row > * {
  padding-right: 5rem;
  padding-left: 5rem;
}

.gutter-48.dfn-row {
  margin-right: -6rem;
  margin-left: -6rem;
}
.gutter-48.dfn-row > * {
  padding-right: 6rem;
  padding-left: 6rem;
}

.gutter-56.dfn-row {
  margin-right: -7rem;
  margin-left: -7rem;
}
.gutter-56.dfn-row > * {
  padding-right: 7rem;
  padding-left: 7rem;
}

.gutter-60.dfn-row {
  margin-right: -8rem;
  margin-left: -8rem;
}
.gutter-60.dfn-row > * {
  padding-right: 8rem;
  padding-left: 8rem;
}

.dfn-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;
}

.dfn-row {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.dfn-col {
  flex: 1 0 calc(100% / 12 - 0);
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.dfn-col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
  max-width: 8.3333333333%;
  padding-right: 0;
  padding-left: 0;
}

.dfn-col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
  max-width: 16.6666666667%;
  padding-right: 0;
  padding-left: 0;
}

.dfn-col-3 {
  flex: 0 0 auto;
  width: 25%;
  max-width: 25%;
  padding-right: 0;
  padding-left: 0;
}

.dfn-col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
  max-width: 33.3333333333%;
  padding-right: 0;
  padding-left: 0;
}

.dfn-col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
  max-width: 41.6666666667%;
  padding-right: 0;
  padding-left: 0;
}

.dfn-col-6 {
  flex: 0 0 auto;
  width: 50%;
  max-width: 50%;
  padding-right: 0;
  padding-left: 0;
}

.dfn-col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
  max-width: 58.3333333333%;
  padding-right: 0;
  padding-left: 0;
}

.dfn-col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
  max-width: 66.6666666667%;
  padding-right: 0;
  padding-left: 0;
}

.dfn-col-9 {
  flex: 0 0 auto;
  width: 75%;
  max-width: 75%;
  padding-right: 0;
  padding-left: 0;
}

.dfn-col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
  max-width: 83.3333333333%;
  padding-right: 0;
  padding-left: 0;
}

.dfn-col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
  max-width: 91.6666666667%;
  padding-right: 0;
  padding-left: 0;
}

.dfn-col-12 {
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
}

/*# sourceMappingURL=styles.css.map */
