// Sizing Token
$sizing-0: 0px;
$sizing-0_5: 0.125rem; // 2px
$sizing-1: 0.25rem; // 4px
$sizing-1_5: 0.375rem; // 6px
$sizing-2: 0.5rem; // 8px
$sizing-2_5: 0.625rem; // 10px
$sizing-3: 0.75rem; // 12px
$sizing-3_5: 0.875rem; // 14px
$sizing-4: 1rem; // 16px
$sizing-5: 1.25rem; // 20px
$sizing-6: 1.5rem; // 24px
$sizing-7: 1.75rem; // 28px
$sizing-8: 2rem; // 32px
$sizing-9: 2.25rem; // 36px
$sizing-10: 2.5rem; // 40px
$sizing-11: 2.75rem; // 44px
$sizing-12: 3rem; // 48px
$sizing-14: 3.5rem; // 56px
$sizing-16: 4rem; // 64px
$sizing-20: 5rem; // 80px
$sizing-24: 6rem; // 96px
$sizing-32: 8rem; // 128px
$sizing-40: 10rem; // 160px
$sizing-48: 12rem; // 192px
$sizing-56: 14rem; // 224px
$sizing-60: 16rem; // 256px
$sizing-64: 17.5rem; // 280px
$sizing-72: 20rem; // 320px
$sizing-80: 24rem; // 384px
$sizing-full: 100%;
// Hierarchical Naming Token

// Square Button

$button-square-small-size: $sizing-8;
$button-square-medium-size: $sizing-9;
$button-square-large-size: $sizing-10;

// Radio Button

$radio-button-size: $sizing-5;
$radio-button-check-size: $sizing-3;

// Checkbox
$checkbox-button-size: $sizing-5;
$checkbox-icon-size: $sizing-4;

// Toggle
$toggle-width-size: $sizing-9;
$toggle-height-size: $sizing-5;

$toggle-circle-size: $sizing-4;

// Select
$select-icon-size: $sizing-3;
$select-options-list-max-height: $sizing-72;

// Datepicker
$datepicker-year-content-max-height: $sizing-64;
$datepicker-year-content-min-width: $sizing-64;
$datepicker-year-content-item-width: $sizing-full;

$datepicker-month-content-min-width: $sizing-64;
$datepicker-month-content-item-width: $sizing-full;

$datepicker-day-name-item-size: $sizing-10;
$datepicker-day-item-size: $sizing-10;

$datepicker-month-button-item-size: $sizing-10;

$datepicker-header-height: $sizing-10;

$datepicker-current-date-width: $sizing-full;


