// Font Family

$font-family: 'Inter', sans-serif;

// Font Size

$font-size-display: 3.75rem;    //60px
$font-size-3xl: 3rem;           //48px
$font-size-2xl: 2.25rem;        //36px
$font-size-xl: 1.75rem;         //28px
$font-size-lg: 1.5rem;          //24px
$font-size-md: 1.25rem;         //20px
$font-size-sm: 1.125rem;        //18px
$font-size-xs: 1rem;            //16px
$font-size-2xs: 0.875rem;       //14px
$font-size-3xs: 0.75rem;        //12px

// Font Weight

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Line Height

$line-height-display: 4.5rem;   //72px
$line-height-3xl: 3.75rem;      //60px      
$line-height-2xl: 2.75rem;      //44px
$line-height-xl: 2.25rem;       //36px
$line-height-lg: 2rem;          //32px
$line-height-md: 1.875rem;      //30px
$line-height-sm: 1.75rem;       //28px
$line-height-xs: 1.5rem;        //24px
$line-height-2xs: 1.25rem;      //20px
$line-height-3xs: 1rem;         //16px

// Hierarchical Naming Token

// Button =========================================

$button-font-weight: $font-weight-medium;
$button-icon-font-size: $font-size-xs;

// Small Size Button

$button-small-font-size: $font-size-2xs;
$button-small-line-height: $line-height-2xs;

// Medium Size Button

$button-medium-font-size: $font-size-xs;
$button-medium-line-height: $line-height-xs;

// Large Size Button

$button-large-font-size: $font-size-sm;
$button-large-line-height: $line-height-sm;

// Input Field =====================================

$input-font-size: $font-size-2xs;
$input-line-height: $line-height-2xs;

$input-label-font-size: $font-size-2xs;
$input-label-line-height: $line-height-2xs;

$input-helper-text-font-size: $font-size-3xs;
$input-helper-text-font-weight: $font-weight-regular;
$input-helper-text-line-height: $line-height-3xs;

$input-feedback-text-font-size: $font-size-3xs;
$input-feedback-text-font-weight: $font-weight-regular;
$input-feedback-text-line-height: $line-height-3xs;

// Radio Button

$radio-button-font-size: $font-size-2xs;
$radio-button-font-weight: $font-weight-regular;
$radio-button-line-height: $line-height-2xs;

// Checkbox

$checkbox-font-size: $font-size-2xs;
$checkbox-font-weight: $font-weight-regular;
$checkbox-line-height: $line-height-2xs;

// Toggle

$toggle-font-size: $font-size-2xs;
$toggle-font-weight: $font-weight-regular;
$toggle-line-height: $line-height-2xs;

// Select
$select-input-font-size: $font-size-2xs;
$select-input-font-weight: $font-weight-regular;
$select-input-line-height: $line-height-2xs;

// Datepicker
$datepicker-month-item-font-size: $font-size-2xs;
$datepicker-month-item-line-height: $line-height-2xs;
$datepicker-month-item-font-weight: $font-weight-regular;

$datepicker-year-item-font-size: $font-size-2xs;
$datepicker-year-item-line-height: $line-height-2xs;
$datepicker-year-item-font-weight: $font-weight-regular;

$datepicker-day-name-item-font-size: $font-size-2xs;
$datepicker-day-name-item-line-height: $line-height-2xs;
$datepicker-day-name-item-font-weight: $font-weight-regular;

$datepicker-day-item-font-size: $font-size-2xs;
$datepicker-day-item-line-height: $line-height-2xs;
$datepicker-day-item-font-weight: $font-weight-regular;

$datepicker-current-label-font-size: $font-size-2xs;
$datepicker-current-label-line-height: $line-height-2xs;
$datepicker-current-label-font-weight: $font-weight-medium;