// Base Color
$base-white: #FFFFFF;
$base-black: #000000;

//Primary Brand Color
$primary-50: #F5FAEC;
$primary-100: #E0EFC7;
$primary-200: #CCE5A2;
$primary-300: #B8DA7D;
$primary-400: #A3CF58;
$primary-500: #99CA45;
$primary-600: #7AA237;
$primary-700: #5C7929;
$primary-800: #3D511C;
$primary-900: #2E3D15;

//Neutral Color
$neutral-50: #F8FAFC;
$neutral-100: #F1F5F9;
$neutral-200: #E2E8F0;
$neutral-300: #CBD5E1;
$neutral-400: #94A3B8;
$neutral-500: #64748B;
$neutral-600: #475569;
$neutral-700: #334155;
$neutral-800: #1E293B;
$neutral-900: #262626;

//Success Color
$success-50: #F5FAEC;
$success-100: #E0EFC7;
$success-200: #CCE5A2;
$success-300: #B8DA7D;
$success-400: #A3CF58;
$success-500: #99CA45;
$success-600: #7AA237;
$success-700: #5C7929;
$success-800: #3D511C;
$success-900: #2E3D15;

//Warning Color
$warning-50: #FFFAEB;
$warning-100: #FFF7D4;
$warning-200: #FFEBA8;
$warning-300: #FFDA71;
$warning-400: #FFBF38;
$warning-500: #FDA712;
$warning-600: #F79009;
$warning-700: #C56A09;
$warning-800: #9D530F;
$warning-900: #7E4510;

// Danger Color
$danger-50: #FEF3F2;
$danger-100: #FEE4E2;
$danger-200: #FFCDC9;
$danger-300: #FDAAA4;
$danger-400: #F97970;
$danger-500: #F04438;
$danger-600: #DE3024;
$danger-700: #BB241A;
$danger-800: #B42318;
$danger-900: #80231C;

//Opacity 
$opacity-10: 0.1;
$opacity-20: 0.2;
$opacity-30: 0.3;
$opacity-40: 0.4;
$opacity-50: 0.5;
$opacity-60: 0.6;
$opacity-70: 0.7;
$opacity-80: 0.8;
$opacity-90: 0.9;

// Hierarchical Naming Token

// Button =========================================

// Primary Button
$button-primary-background-color: $primary-500;
$button-primary-hover-background-color: $primary-600;
$button-primary-active-background-color: $primary-700;
$button-primary-focus-border-color: $primary-500;

$button-primary-disabled-background-color: $primary-200;

$button-primary-outline-border-color: $primary-500;
$button-primary-outline-text-color: $primary-500;
$button-primary-outline-hover-background-color: $primary-600;
$button-primary-outline-hover-border-color: $primary-600;

$button-primary-outline-disabled-text-color: $primary-200;
$button-primary-outline-disabled-border-color: $primary-200;

$button-primary-link-text-color: $primary-500;
$button-primary-link-hover-text-color: $primary-600;
$button-primary-link-active-text-color: $primary-700;

$link-primary-text-color: $primary-500;
$link-primary-hover-text-color: $primary-600;
$link-primary-active-text-color: $primary-700;

// Secondary Button
$button-secondary-background-color: $neutral-700;
$button-secondary-hover-background-color: $neutral-800;
$button-secondary-active-background-color: $neutral-900;
$button-secondary-focus-border-color: $neutral-700;

$button-secondary-disabled-background-color: $neutral-200;

$button-secondary-outline-border-color: $neutral-700;
$button-secondary-outline-text-color: $neutral-700;
$button-secondary-outline-hover-background-color: $neutral-800;
$button-secondary-outline-hover-border-color: $neutral-800;

$button-secondary-outline-disabled-text-color: $neutral-200;
$button-secondary-outline-disabled-border-color: $neutral-200;

$button-secondary-link-text-color: $neutral-700;
$button-secondary-link-hover-text-color: $neutral-800;
$button-secondary-link-active-text-color: $neutral-900;

// Success Button
$button-success-background-color: $success-500;
$button-success-hover-background-color: $success-600;
$button-success-active-background-color: $success-700;
$button-success-focus-border-color: $success-500;

$button-success-disabled-background-color: $success-200;

$button-success-outline-border-color: $success-500;
$button-success-outline-text-color: $success-500;
$button-success-outline-hover-background-color: $success-600;
$button-success-outline-hover-border-color: $success-600;

$button-success-outline-disabled-text-color: $success-200;
$button-success-outline-disabled-border-color: $success-200;

$button-success-link-text-color: $success-500;
$button-success-link-hover-text-color: $success-600;
$button-success-link-active-text-color: $success-700;

// Warning Button
$button-warning-background-color: $warning-500;
$button-warning-hover-background-color: $warning-600;
$button-warning-active-background-color: $warning-700;
$button-warning-focus-border-color: $warning-500;

$button-warning-disabled-background-color: $warning-200;

$button-warning-outline-border-color: $warning-500;
$button-warning-outline-text-color: $warning-500;
$button-warning-outline-hover-background-color: $warning-600;
$button-warning-outline-hover-border-color: $warning-600;

$button-warning-outline-disabled-text-color: $warning-200;
$button-warning-outline-disabled-border-color: $warning-200;

$button-warning-link-text-color: $warning-500;
$button-warning-link-hover-text-color: $warning-600;
$button-warning-link-active-text-color: $warning-700;

// Danger Button
$button-danger-background-color: $danger-500;
$button-danger-hover-background-color: $danger-600;
$button-danger-active-background-color: $danger-700;
$button-danger-focus-border-color: $danger-500;

$button-danger-disabled-background-color: $danger-200;

$button-danger-outline-border-color: $danger-500;
$button-danger-outline-text-color: $danger-500;
$button-danger-outline-hover-background-color: $danger-600;
$button-danger-outline-hover-border-color: $danger-600;

$button-danger-outline-disabled-text-color: $danger-200;
$button-danger-outline-disabled-border-color: $danger-200;

$button-danger-link-text-color: $danger-500;
$button-danger-link-hover-text-color: $danger-600;
$button-danger-link-active-text-color: $danger-700;

// Button Text
$button-text-color: $base-white;

// Input Field ====================================
$input-border-color: $neutral-200;
$input-focus-color: $primary-500;
$input-text-color: $neutral-700;
$input-placeholder-text-color: $neutral-400;
$input-background-color: $base-white;

$input-label-text-color: $neutral-700;

$input-helper-text-color: $neutral-400;

$input-disabled-background-color: $neutral-50;
$input-disabled-border-color: $neutral-100;
$input-disabled-text-color: $neutral-400;

// Error State Input
$input-danger-border-color: $danger-500;
$input-danger-focus-color: $danger-500;

$input-feedback-text-color: $danger-500;

// Radio Button
$radio-button-focus-border-color: $primary-500;
$radio-button-text-color: $neutral-700;

$radio-button-background-color: $base-white;
$radio-button-border-color: $neutral-200;

$radio-button-check-color: $primary-500;
$radio-button-checked-border-color: $primary-500;
$radio-button-focus-color: $primary-500;

$radio-button-disabled-check-color: $neutral-300;
$radio-button-disabled-border-color: $neutral-300;
$radio-button-disabled-background-color: $neutral-100;

// Checkbox

$checkbox-text-color: $neutral-700;
$checkbox-focus-color: $primary-500;

$checkbox-background-color: $base-white;
$checkbox-border-color: $neutral-200;

$checkbox-checked-background-color: $primary-500;
$checkbox-checked-border-color: $primary-500;

$checkbox-disabled-border-color: $neutral-300;
$checkbox-disabled-color: $neutral-300;
$checkbox-disabled-background-color: $neutral-100;

// Toggle

$toggle-text-color: $neutral-700;
$toggle-background-color: $neutral-100;
$toggle-circle-background-color: $base-white;

$toggle-checked-background-color: $primary-500;

$toggle-focus-color: $primary-500;

$toggle-disabled-circle-color: $neutral-300;
$toggle-disabled-background-color: $neutral-100;

// Select

$select-border-color: $neutral-300;
$select-icon-color: $neutral-900;

$select-options-list-border-color: $neutral-100;

$select-option-background-color: $base-white;
$select-option-text-color: $neutral-700;
$select-option-disabled-text-color: $neutral-400;
$select-option-hover-background-color: $neutral-100;