// Spacing
$spacing-0: 0px;
$spacing-0_5: 0.125rem;   // 2px
$spacing-1: 0.25rem;      // 4px
$spacing-1_5: 0.375rem;   // 6px
$spacing-2: 0.5rem;       // 8px
$spacing-2_5: 0.625rem;   // 10px
$spacing-3: 0.75rem;      // 12px 
$spacing-3_5: 0.875rem;   // 14px
$spacing-4: 1rem;         // 16px
$spacing-5: 1.25rem;      // 20px
$spacing-6: 1.5rem;       // 24px
$spacing-7: 1.75rem;      // 28px
$spacing-8: 2rem;         // 32px
$spacing-9: 2.225rem;     // 36px
$spacing-10: 2.5rem;      // 40px
$spacing-11: 2.75rem;     // 44px
$spacing-12: 3rem;        // 48px
$spacing-14: 3.5rem;      // 56px
$spacing-16: 4rem;        // 64px
$spacing-18: 4.5rem;        // 72px
$spacing-20: 5rem;        // 80px
$spacing-24: 6rem;        // 96px
$spacing-32: 8rem;        // 128px
$spacing-40: 10rem;       // 160px
$spacing-48: 12rem;       // 192px
$spacing-56: 14rem;       // 224px
$spacing-60: 16rem;       // 256px

// Hierarchical Naming Token

// Button =========================================

$button-padding: $spacing-1_5 $spacing-2;
$button-square-padding: $spacing-0;

// Input Field ====================================

$input-padding: $spacing-2 $spacing-3;
$input-control-bottom-margin: $spacing-4;

$input-label-margin-bottom: $spacing-1_5;

$password-input-right-padding: $spacing-9;

$input-helper-text-top-padding: $spacing-1_5;

// Radio Button

$radio-button-margin-right: $spacing-2;

// Checkbox

$checkbox-margin-right: $spacing-2;

// Toggle

$toggle-margin-right: $spacing-2;

// Select

$select-options-list-margin: $spacing-2 $spacing-0;
$select-option-padding: $spacing-1_5 $spacing-3;

// Datepicker
$datepicker-container-margin-top: $spacing-1_5;
$datepicker-day-content-padding: $spacing-0 $spacing-4 $spacing-4 $spacing-4;

$datepicker-month-content-gap: $spacing-3 $spacing-1;
$datepicker-month-content-padding: $spacing-0 $spacing-4 $spacing-4 $spacing-4;
$datepicker-month-item-padding: $spacing-2 $spacing-0;

$datepicker-year-content-gap: $spacing-3 $spacing-1;
$datepicker-year-content-padding: $spacing-0 $spacing-4 $spacing-4 $spacing-4;
$datepicker-year-item-padding: $spacing-2 $spacing-0;

$datepicker-header-padding: $spacing-4 $spacing-4 $spacing-2 $spacing-4;
$datepicker-current-label-padding: $spacing-0_5;
